{
    "extends": [
        "react-native",
        "prettier"
    ],
    "plugins": [
        "react-native",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": [
            "warn",
            {
                "arrowParens": "always",
                "semi": false,
                "endOfLine": "auto",
                "singleQuote": true,
                "trailingComma": "none",
                "printWidth": 120,
                "tabWidth": 1,
                "jsxSingleQuote": true
            }
        ]
    }
}